- @title = "Pagination finished?"
- @abstract = "I have hacked up my blog so it let staticmatic creates multiple index pages. With little more work and I finished pagination."
- @lang = "en"
- @tags = %w(thisBlog programming)

:textile
  I have hacked up my blog so it let staticmatic creates multiple index pages. A little more work and I finished pagination.

  It was not as easy as I thought and I'm sure it's sort of a dirty hack …but it works great, anyway. If you want to know what I did, just look here at "the commit on github":http://github.com/nkoehring/blog.nkoehring.de/commit/68798c704c68f63759087654619697362e08da9d#diff-2.

  If someone knows a better way to do such thing – please! – tell it to me before I did the same crap for tagging.

