- @title = "test article before"
- @abstract = "Hello, I am a test article. My purpose is to test something."
- @lang = "en"
- @tags = %w(foo bar baz)

:textile
  h3. Some content

  some more content
