- @title = "Hello World"
- @abstract = "I have a blog (again)... yay and so on."
- @lang = "en"
- @tags = %w(foo baz)

:textile
  h3. Hello World

  My new blog is ready and I'm so f*king tired that I just write the necessary Hello thing.

  Firstly I wanted to write about the development of this blog and the VIM autocmd which creates the names for the blog entries… but this need to happend next time, sorry.

  Good night.

