- @title = "further blog development"
- @abstract = "This article is some sort of TODO list and keeps some thoughts about the next steps needed in further development of this blog."
- @lang = "en"
- @tags = %w(thisBlog programming)

:textile
  This article is some sort of TODO list and keeps some thoughts about the next steps needed in further development of this blog.

  Because my blog grows further I will need some functionality, soon. For example some sort of pagination to keep article listing pages in reasonable size.
  
  I need a better solution for my Tags-Page, further. The current solution is nice for tags with five or six articles but not more.
  
  Additionally I am thinking about some sort of categorizing; or better: A special sort of tags. But maybe they were not useful if I had better handling of normal tags. I just should build something which creates a dedicated page for every tag. The idea came at the moment I thought about rewriting some of my old blog articles to this blog. I would need an own category for them but maybe an own tag like "oldEntries" would be enough.

  By the way: It is way easier to keep the no-javascript-idea if you don't know that much about Javascript. I further won't add any Javascript to my blog but it becomes harder to find the fine line between functionality and simplicity. The tags page is a good example for this. Since I am using more and more Javascript at work the ideas for this blog are growing and growing.

  Aw… whatever.

