- @title = "Pictures in my blog"
- @abstract = "Currently there are no pictures in my blog because I simply never needed them…"
- @lang = "en"
- @tags = %w(programming thisBlog)

:textile
  Currently there are no pictures in my blog because I simply never needed them. But this may change soon! So I want to implement a picture helper. To perfectly fit my needs it should additionally be able to create a preview picture.

  I firstly thought about a nice gimmick for that: Ascii-Art preview pictures! But it crystallize to be very unhandy because the ascii art would become either too large or unidentifiable obscured. It's a bummer!

  So I may -steal from- let inspire me by wordpress or other popular blogging engines. We'll see what the night brings.

