- @title = "404 picture"
- @abstract = "My new self made 404 picture…"
- @lang = "en"
- @tags = %w(thisBlog art pictures)


.image.left
  %img( src="/images/thumb_404.png" )


:textile
  My new self made 404 picture… I hope you'll never see it again, although I think it turned out quite nice.

