-@title=nil
-#@flourish="&#57346;"
-@flourish=nil

-blog do |artcl|
  .header_container
    %h2
      %a{ :href => artcl.permalink }= artcl.title
      %span.date= artcl.date.strftime "%Y-%m-%d %H:%M"
  .abstract&= artcl.abstract
