-@title="Tags…"
-@flourish="&#57346;"

This page isn't finished yet… sorry.

%ul#tags
  -tags do |tag|
    %li{ :class => "rate_#{tag.rate}" }
      =tag.title
      %ul
        -tag.urls.each do |url|
          %li
            %a{ :href => url, :alt => tag }= url

