-@title="Tags…"
-@flourish="&#57346;"

This page isn't finished yet… sorry.

%ul#tags
  -tags do |tag|
    %span{ :class => "rate_#{tag.rate} tag" }
      =tag.title
      %ul
        -tag.articles.each do |article|
          %li
            %a{ :href => article.url, :alt => article.title }= article.title
            .abstract= article.abstract

